__pycache__/
build/
*.egg-info/
*.so

tmp*
.data/
trial*/
.vs/

TOKEN
*.swp
*.un~

untracked
.ipynb_checkpoints
.virtual_documents

AudioSep Eval Benchmark
samples
data/*
*.wav
*.zip
*.png
*.log
sisdr_sdri_results*